## pandas 필터링, 정렬

In [3]:
import pandas as pd
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)

### 컬럼값에 따른 추출

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [3]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
# 단순히 원시적으로 해당컬럼을 찾아서 그 조건을 만족하는 것을 찾는과정
df.loc[df['quantity']==3].head()

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [5]:
df[df['quantity']==3].head()

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [8]:
# 이거는 안됨
df[df.loc['quantity']==3].head()

KeyError: 'quantity'

### 필터링과 정렬

In [12]:
# index를 reset 시켜서 3인것들만 나타내는 방법이다.
temp = df.loc[df['quantity']==3].head().reset_index(drop=True)
temp

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75

In [15]:
# 보고싶은 col만 뽑아서 추출
temp = df[['item_name', 'quantity']]
temp

                                  item_name  quantity
0              Chips and Fresh Tomato Salsa         1
1                                      Izze         1
2                          Nantucket Nectar         1
3     Chips and Tomatillo-Green Chili Salsa         1
4                              Chicken Bowl         2
...                                     ...       ...
4617                          Steak Burrito         1
4618                          Steak Burrito         1
4619                     Chicken Salad Bowl         1
4620                     Chicken Salad Bowl         1
4621                     Chicken Salad Bowl         1

[4622 rows x 2 columns]

추가적으로 col 내에서 조작을 해보자

In [14]:
# 임의로 col을 생성한다.
# 값을 조작해서 바꿔주는 과정
# str을 사용하여 $ 표시를 없애주고 float 타입으로 변경후 환율을 적용
df['새값'] = df['item_price'].str[1:].astype('float') * 1100
df['새값'].head()

0     2629.0
1     3729.0
2     3729.0
3     2629.0
4    18678.0
Name: 새값, dtype: float64

In [33]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,새값
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2629.0
1,1,1,Izze,[Clementine],$3.39,3729.0
2,1,1,Nantucket Nectar,[Apple],$3.39,3729.0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2629.0
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,18678.0

In [36]:
# col의 이름으로 접근할 수도 있다.
# reset_index를 사용해서 index를 재정의 할 수도 있다.
df[df.item_name == 'Izze']

      order_id  quantity item_name choice_description item_price      새값
1            1         1      Izze       [Clementine]     $3.39   3729.0
24          12         1      Izze       [Grapefruit]     $3.39   3729.0
47          21         1      Izze       [Blackberry]     $3.39   3729.0
66          30         1      Izze       [Blackberry]     $3.39   3729.0
359        155         1      Izze       [Blackberry]     $3.39   3729.0
360        155         1      Izze       [Grapefruit]     $3.39   3729.0
430        186         1      Izze       [Grapefruit]     $3.39   3729.0
579        237         1      Izze       [Clementine]     $3.39   3729.0
580        237         1      Izze       [Grapefruit]     $3.39   3729.0
1059       436         1      Izze       [Clementine]     $3.39   3729.0
1213       495         1      Izze       [Clementine]     $3.39   3729.0
1611       651         1      Izze       [Blackberry]     $3.39   3729.0
1612       651         1      Izze       [Blackberry]     $3.39   3729.0
1680       680         1      Izze       [Clementine]     $3.39   3729.0
2088       842         1      Izze       [Clementine]     $3.39   3729.0
2619      1040         1      Izze       [Clementine]     $3.39   3729.0
2634      1046         1      Izze       [Clementine]     $3.39   3729.0
2758      1095         1      Izze       [Blackberry]     $3.39   3729.0
2891      1149         1      Izze       [Blackberry]     $3.39   3729.0
3669      1468         1      Izze       [Blackberry]     $3.39   3729.0

In [41]:
# ()와 &등을 이용해서 조건을 더 추가할 수 있다.
df[(df.item_name == 'Izze') & (df.choice_description == '[Clementine]')]

      order_id  quantity item_name choice_description item_price      새값
1            1         1      Izze       [Clementine]     $3.39   3729.0
579        237         1      Izze       [Clementine]     $3.39   3729.0
1059       436         1      Izze       [Clementine]     $3.39   3729.0
1213       495         1      Izze       [Clementine]     $3.39   3729.0
1680       680         1      Izze       [Clementine]     $3.39   3729.0
2088       842         1      Izze       [Clementine]     $3.39   3729.0
2619      1040         1      Izze       [Clementine]     $3.39   3729.0
2634      1046         1      Izze       [Clementine]     $3.39   3729.0

In [43]:
# or에 해당하는 경우
df[(df.item_name == 'Izze') | (df.choice_description == '[Clementine]')]

      order_id  quantity item_name choice_description item_price      새값
1            1         1      Izze       [Clementine]     $3.39   3729.0
24          12         1      Izze       [Grapefruit]     $3.39   3729.0
47          21         1      Izze       [Blackberry]     $3.39   3729.0
66          30         1      Izze       [Blackberry]     $3.39   3729.0
359        155         1      Izze       [Blackberry]     $3.39   3729.0
360        155         1      Izze       [Grapefruit]     $3.39   3729.0
430        186         1      Izze       [Grapefruit]     $3.39   3729.0
579        237         1      Izze       [Clementine]     $3.39   3729.0
580        237         1      Izze       [Grapefruit]     $3.39   3729.0
1059       436         1      Izze       [Clementine]     $3.39   3729.0
1213       495         1      Izze       [Clementine]     $3.39   3729.0
1611       651         1      Izze       [Blackberry]     $3.39   3729.0
1612       651         1      Izze       [Blackberry]     $3.39   3729.0
1680       680         1      Izze       [Clementine]     $3.39   3729.0
2088       842         1      Izze       [Clementine]     $3.39   3729.0
2619      1040         1      Izze       [Clementine]     $3.39   3729.0
2634      1046         1      Izze       [Clementine]     $3.39   3729.0
2758      1095         1      Izze       [Blackberry]     $3.39   3729.0
2891      1149         1      Izze       [Blackberry]     $3.39   3729.0
3669      1468         1      Izze       [Blackberry]     $3.39   3729.0

In [46]:
# sort_values를 이용해 해당 col의 값을 기준으로 정렬할 수 있다.
df.sort_values('새값')

,order_id,quantity,item_name,choice_description,item_price,새값
1140,471,1,Bottled Water,NaN,$1.09,1199.0
821,338,1,Canned Soda,[Coca Cola],$1.09,1199.0
3926,1575,1,Canned Soda,[Dr. Pepper],$1.09,1199.0
107,47,1,Canned Soda,[Dr. Pepper],$1.09,1199.0
2562,1014,1,Canned Soda,[Coca Cola],$1.09,1199.0
...,...,...,...,...,...,...
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,37125.0
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,38500.0
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,38500.0
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,38775.0
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,48675.0

In [49]:
df.sort_values('새값').reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price,새값
0,471,1,Bottled Water,NaN,$1.09,1199.0
1,338,1,Canned Soda,[Coca Cola],$1.09,1199.0
2,1575,1,Canned Soda,[Dr. Pepper],$1.09,1199.0
3,47,1,Canned Soda,[Dr. Pepper],$1.09,1199.0
4,1014,1,Canned Soda,[Coca Cola],$1.09,1199.0
...,...,...,...,...,...,...
4617,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,37125.0
4618,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,38500.0
4619,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,38500.0
4620,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,38775.0
4621,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,48675.0

In [52]:
# 해당 문자를 포함하는 경우를 col에 추가할 수 있다.

temp = df.loc[df.item_name.str.contains('Chips')]
temp

,order_id,quantity,item_name,choice_description,item_price,새값
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2629.0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2629.0
6,3,1,Side of Chips,NaN,$1.69,1859.0
10,5,1,Chips and Guacamole,NaN,$4.45,4895.0
14,7,1,Chips and Guacamole,NaN,$4.45,4895.0
...,...,...,...,...,...,...
4596,1826,1,Chips and Guacamole,NaN,$4.45,4895.0
4600,1827,1,Chips and Guacamole,NaN,$4.45,4895.0
4605,1828,1,Chips and Guacamole,NaN,$4.45,4895.0
4613,1831,1,Chips,NaN,$2.15,2365.0
4616,1832,1,Chips and Guacamole,NaN,$4.45,4895.0

In [57]:
temp = df.iloc[:, ::3]

   order_id                                 choice_description
0         1                                                NaN
1         1                                       [Clementine]
2         1                                            [Apple]
3         1                                                NaN
4         2  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...

In [60]:
temp = df.sort_values('새값',ascending=False).reset_index(drop=True)
temp

,order_id,quantity,item_name,choice_description,item_price,새값
0,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,48675.0
1,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,38775.0
2,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,38500.0
3,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,38500.0
4,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,37125.0
...,...,...,...,...,...,...
4617,1578,1,Canned Soda,[Diet Dr. Pepper],$1.09,1199.0
4618,1162,1,Bottled Water,NaN,$1.09,1199.0
4619,567,1,Canned Soda,[Coca Cola],$1.09,1199.0
4620,1014,1,Canned Soda,[Coca Cola],$1.09,1199.0
4621,591,1,Canned Soda,[Sprite],$1.09,1199.0

reset_index(drop=True)
* drop=True를 해주면 기존 idx는 버림

In [7]:
temp = df[(df.item_name == 'Steak Salad') | (df.item_name == 'Bowl')]
temp

,order_id,quantity,item_name,choice_description,item_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40
752,311,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99
893,369,1,Steak Salad,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$8.99
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69

In [11]:
# drop_duplicates를 통해 중복된 데이터를 제거할 수 있다.
# keep이라는 arg를 통해서 남겨놓을 데이터를 설정할 수 있다.
temp = temp.drop_duplicates('item_name', keep='last')
temp

,order_id,quantity,item_name,choice_description,item_price
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69

In [17]:
# mean으로 평균값을 낼 수 있따.
# 조건문을 작성하여 해당 셀을 낼 수 있다.

temp = df.loc[df.새값 >= df.새값.mean()]
temp.head()

,order_id,quantity,item_name,choice_description,item_price,새값
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,18678.0
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,12078.0
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,12925.0
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,10175.0
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,10175.0

In [22]:
# item_name의 값이 Izze인 데이터를 수정한다.
# 수정할때 일반적인 접근 df[] 로 하면 안되고 df.loc[]로 해야한다.
# 두번재 arg를 통해서 item_name 자체에 접근할 수 있다.
df.loc[df.item_name == 'Izze', 'item_name'] = 'Fizzy Lizzy'
temp = df
temp.head()

,order_id,quantity,item_name,choice_description,item_price,새값
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2629.0
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3729.0
2,1,1,Nantucket Nectar,[Apple],$3.39,3729.0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2629.0
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,18678.0

In [25]:
# 특정 col값을 속성으로 사용하여 접근할 수 있다.
temp = df.choice_description.isnull().sum()
temp

1246

In [28]:
df.loc[df.choice_description.isnull(), 'choice_description'] = 'NoData'
temp = df
temp.head()

,order_id,quantity,item_name,choice_description,item_price,새값
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2629.0
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3729.0
2,1,1,Nantucket Nectar,[Apple],$3.39,3729.0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,2629.0
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,18678.0

In [31]:
temp = df[df.choice_description.str.contains('Black')]
temp.head()

,order_id,quantity,item_name,choice_description,item_price,새값
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,18678.0
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,12925.0
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,10175.0
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,9625.0
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,9625.0

In [39]:
# len을 이용해서 갯수를 구할 수 있다.
# 조건식 앞에 ~를 붙여서 부정을 할 수 있다.
temp = len(df[~df.choice_description.str.contains('Vegetables')])
temp

3900

In [44]:
# startswith로 특정 글자로 시작하는 것을 찾을 수 있다.
temp = df[df.item_name.str.startswith('N')]
temp.head()

,order_id,quantity,item_name,choice_description,item_price,새값
2,1,1,Nantucket Nectar,[Apple],$3.39,3729.0
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,3729.0
105,46,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,3729.0
173,77,1,Nantucket Nectar,[Apple],$3.39,3729.0
205,91,1,Nantucket Nectar,[Peach Orange],$3.39,3729.0

In [46]:
# 같은 원리로 endswith를 적용할 수 있다.
temp = df[df.item_name.str.endswith('r')]
temp

,order_id,quantity,item_name,choice_description,item_price,새값
2,1,1,Nantucket Nectar,[Apple],$3.39,3729.0
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,3729.0
34,17,1,Bottled Water,NoData,$1.09,1199.0
87,38,1,Bottled Water,NoData,$1.09,1199.0
105,46,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,3729.0
...,...,...,...,...,...,...
4568,1817,1,Bottled Water,NoData,$1.50,1650.0
4570,1817,1,Bottled Water,NoData,$1.50,1650.0
4582,1822,2,Bottled Water,NoData,$3.00,3300.0
4598,1826,1,Bottled Water,NoData,$1.50,1650.0
4614,1831,1,Bottled Water,NoData,$1.50,1650.0

In [49]:
# len()을 함수로 사용할 수 있다.
temp = df[df.item_name.str.len() > 16]
temp.head()

,order_id,quantity,item_name,choice_description,item_price,새값
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2629.0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,2629.0
10,5,1,Chips and Guacamole,NoData,$4.45,4895.0
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,9625.0
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,9625.0

In [54]:
# 특정 리스트를 생성 후 해당 리스트에 적합하는 값을 고를 수 있다.
lst =[2629.0, 4895.0]

# isin을 통해서 리스트 안에 있는 값들만 뽑아올 수 있다.
temp = df.loc[df.새값.isin(lst)]

# display를 이용해 table등을 보여줄 수 있다.
display(temp.head())
print(len(temp))

,order_id,quantity,item_name,choice_description,item_price,새값
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2629.0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,2629.0
10,5,1,Chips and Guacamole,NoData,$4.45,4895.0
14,7,1,Chips and Guacamole,NoData,$4.45,4895.0
15,8,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,2629.0

449