# Pandas 튜토리얼

In [3]:
# pandas를 불러온다.
import pandas as pd

In [4]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'

In [13]:
# 데이터가 구분되어있는 것을 줄것이다.
# 여기에서는 t로 구분되어있는 것을 찾는코드이다.
df = pd.read_csv(DataUrl, sep='\t')

In [14]:
df.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [16]:
# df의 타입 알아보기
type(df)

pandas.core.frame.DataFrame

In [19]:
sh = df.shape
print(sh)
print(f'행: {sh[0]}')
print(f'행: {sh[1]}')

(51490, 61)
행: 51490
행: 61

In [22]:
# 컬럼들을 출력하는 것
total_col = df.columns
total_col

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [34]:
# 특정 col을 index로 찾는 것
# 이름만 보여준다.
temp = df.columns[1]
print(temp)
temp

creationTime

'creationTime'

In [35]:
# iloc는 col을 선택하는것
my_col = df.iloc[:,1]
print(my_col)

0        1504279457970
1        1497848803862
2        1504360103310
3        1504348503996
4        1504554410899
             ...
51485    1503076540231
51486    1496957179355
51487    1504029863961
51488    1499562036246
51489    1503612754059
Name: creationTime, Length: 51490, dtype: int64

In [36]:
type(my_col)

pandas.core.series.Series

In [38]:
# 인덱스 구성정보
# 0부터 51490까지 1씩 증가
my_col.index

RangeIndex(start=0, stop=51490, step=1)

In [56]:
# iloc를 이용하면 좌표로 찾을 수 있다.
# 0번째행 1번째 열
# x와 y가 뒤집혔다고 생각하면됨
# 일반 인덱스 찾는과정이라고 생각하면됨
df.iloc[0, 1]

1504279457970

In [61]:
# col이름이 한글일 경우에는 encoding을 별도로 해줘야함
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl,encoding='euc-kr')
df.head()

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.5
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.5
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.4
3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.4
4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.3

In [63]:
df.tail(6)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9615,32063,2020-04-30,서귀포시,천지동,76260.756,4319.633,67381.686,147962.076,47.316,27.474,17.4,0.0,1.70
9616,32064,2020-04-30,서귀포시,표선면,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

## select_dtypes 사용하기

* select_dtypes를 이용해서 include 혹은 exclude로 활용할 수 있다.
* `''`를 활용해서 하는 것이 기본형 인듯?
* 타입에 따른 데이터를 선택한후 columns 같은 것들을 사용할 수 있다.

In [64]:
df.select_dtypes(exclude=object).columns

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [70]:
df.select_dtypes(include='int64').columns

Index(['id'], dtype='object')

In [72]:
df.select_dtypes(include='float64').columns

Index(['거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온', '일강수량',
       '평균 풍속'],
      dtype='object')

In [74]:
df.select_dtypes(include='object').columns

Index(['일자', '시도명', '읍면동명'], dtype='object')

In [75]:
df.select_dtypes(include=object)

              일자   시도명  읍면동명
0     2018-01-01   제주시   도두동
1     2018-01-01   제주시   외도동
2     2018-01-01   제주시  이도2동
3     2018-01-01   제주시  일도1동
4     2018-01-01  서귀포시   대천동
...          ...   ...   ...
9616  2020-04-30  서귀포시   표선면
9617  2020-04-30   제주시   한림읍
9618  2020-04-30   제주시   도두동
9619  2020-04-30  서귀포시   안덕면
9620  2020-04-30   제주시    연동

[9621 rows x 3 columns]

* 통상 object 들은 범주형변수
* exclude object 들은 수치형 범수라고 할 수 있는 듯

In [79]:
# isnull을 활용하면 null인지 아닌지 모든 셀에대해 판별을 해줌
find_null = df.isnull()
# 몇개나 있는지 살펴보려면 sum()을 이용해서 살펴볼 수 있다.
find_null.sum()

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

In [81]:
# info를 이용하면 정보를 볼 수 있다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [85]:
# describe()를 활용하면 사분위, 평균, 표준편차, 최대, 최소등을 확인 할 수 있다.
temp = df.describe()
temp

,id,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

In [92]:
# 단순히 index접근하듯이 접근 할 수 있다.
# 라벨로 접근이가능하나
find_col = df['근무인구']
print(find_col)

0        3418.266
1       10341.172
2       96920.834
3        6034.253
4        9403.969
          ...
9616    16891.732
9617    26007.122
9618     3144.895
9619    29106.286
9620    65673.477
Name: 근무인구, Length: 9621, dtype: float64

In [96]:
# 두개 이상은 다음과 같이 활용할 수 있다.
find_col = df[['근무인구', '시도명']]
print(find_col)

           근무인구   시도명
0      3418.266   제주시
1     10341.172   제주시
2     96920.834   제주시
3      6034.253   제주시
4      9403.969  서귀포시
...         ...   ...
9616  16891.732  서귀포시
9617  26007.122   제주시
9618   3144.895   제주시
9619  29106.286  서귀포시
9620  65673.477   제주시

[9621 rows x 2 columns]

In [91]:
# loc를 사용하면 해당 row를 확인할 수 있다.
find_row = df.loc[2]
print(find_row)

id                22450
일자           2018-01-01
시도명                 제주시
읍면동명               이도2동
거주인구        1212382.218
근무인구          96920.834
방문인구         541194.481
총 유동인구      1850497.533
평균 속도            29.538
평균 소요 시간         35.692
평균 기온               2.9
일강수량                0.0
평균 풍속               2.4
Name: 2, dtype: object

In [99]:
# 각각의 분위 범위의 값을 구할 수 있다.
temp = df['평균 속도'].quantile(0.75) - df['평균 속도'].quantile(0.25)
print(temp)

14.854999999999997

In [109]:
# 유일값의 갯수를 출력할 수 있다.
temp = df.읍면동명.nunique()
print(temp)
# 유일값들을 출력할 수도 있다.
temp = df.방문인구.unique()
print(temp)
# 중간에 공백이 들어가 있는 col은 해당 명령어가 적용이 안된다.

41
[102709.092 112692.789 541194.481 ...  84052.697 251129.66  447622.068]