# Pandas 튜토리얼

In [3]:
# pandas를 불러온다.
import pandas as pd

In [4]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'

In [13]:
# 데이터가 구분되어있는 것을 줄것이다.
# 여기에서는 t로 구분되어있는 것을 찾는코드이다.
df = pd.read_csv(DataUrl, sep='\t')

In [14]:
df.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

In [16]:
# df의 타입 알아보기
type(df)

pandas.core.frame.DataFrame

In [19]:
sh = df.shape
print(sh)
print(f'행: {sh[0]}')
print(f'행: {sh[1]}')

(51490, 61)
행: 51490
행: 61

In [22]:
# 컬럼들을 출력하는 것
total_col = df.columns
total_col

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [34]:
# 특정 col을 index로 찾는 것
# 이름만 보여준다.
temp = df.columns[1]
print(temp)
temp

creationTime

'creationTime'

In [35]:
# iloc는 col을 선택하는것
my_col = df.iloc[:,1]
print(my_col)

0        1504279457970
1        1497848803862
2        1504360103310
3        1504348503996
4        1504554410899
             ...
51485    1503076540231
51486    1496957179355
51487    1504029863961
51488    1499562036246
51489    1503612754059
Name: creationTime, Length: 51490, dtype: int64

In [36]:
type(my_col)

pandas.core.series.Series

In [38]:
# 인덱스 구성정보
# 0부터 51490까지 1씩 증가
my_col.index

RangeIndex(start=0, stop=51490, step=1)

In [56]:
# iloc를 이용하면 좌표로 찾을 수 있다.
# 0번째행 1번째 열
# x와 y가 뒤집혔다고 생각하면됨
# 일반 인덱스 찾는과정이라고 생각하면됨
df.iloc[0, 1]

1504279457970

In [61]:
# col이름이 한글일 경우에는 encoding을 별도로 해줘야함
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl,encoding='euc-kr')
df.head()

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.5
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.5
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.4
3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.4
4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.3