## Grouping

In [1]:
# 뉴욕 air BnB 데이터
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv')

temp =df.head(5)
temp

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [2]:
# groupby로 col별로 묶을 수 있다.
# 해당 개수를 size를 통해서 할 수 있다.
temp = df.groupby('host_id').size()
temp

host_id
2438         1
2571         1
2787         6
2845         2
2868         1
            ..
274273284    1
274298453    1
274307600    1
274311461    1
274321313    1
Length: 37457, dtype: int64

In [3]:
temp = df.host_id.value_counts().sort_index()
temp

2438         1
2571         1
2787         6
2845         2
2868         1
            ..
274273284    1
274298453    1
274307600    1
274311461    1
274321313    1
Name: host_id, Length: 37457, dtype: int64

* `\`를 이용해서 줄바꿈을 할 수 있다.
* to_frame()을 이용해서 새로운 데이터 프레임을 만들 수 있다.
* rename()을 이용해서 이름을 바꿀 수 있다.
* ascending (오름차순)

In [5]:
temp = df.groupby('host_name').size().\
to_frame().rename(columns={0:'counts'}).\
sort_values('counts', ascending=False)
temp.head()

              counts
host_name
Michael          417
David            403
Sonder (NYC)     327
John             294
Alex             279

In [8]:
# as_index를 사용하면 index처럼 나오는 것이 아닌 반복처럼 나온다.

temp = df.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size()
temp

    neighbourhood_group  neighbourhood  size
0                 Bronx       Allerton    42
1                 Bronx     Baychester     7
2                 Bronx        Belmont    24
3                 Bronx      Bronxdale    19
4                 Bronx    Castle Hill     9
..                  ...            ...   ...
216       Staten Island    Tottenville     7
217       Staten Island  West Brighton    18
218       Staten Island    Westerleigh     2
219       Staten Island    Willowbrook     1
220       Staten Island        Woodrow     1

[221 rows x 3 columns]

In [10]:
# 차이를 비교할 수 있다.
temp = df.groupby(['neighbourhood_group','neighbourhood']).size()
temp

neighbourhood_group  neighbourhood
Bronx                Allerton         42
                     Baychester        7
                     Belmont          24
                     Bronxdale        19
                     Castle Hill       9
                                      ..
Staten Island        Tottenville       7
                     West Brighton    18
                     Westerleigh       2
                     Willowbrook       1
                     Woodrow           1
Length: 221, dtype: int64

In [14]:
# neighbourhood_group의 값에 따른 neighbourhood col 값을 선택
#     index처럼 활용하지 않고 사이즈를 측정
# neighbourhood_group에 따른 그룹핑 다시 해서 max 값 도출
temp = df.groupby(['neighbourhood_group', 'neighbourhood'],\
      as_index=False).size()\
      .groupby(['neighbourhood_group'], as_index=False).max()
temp

  neighbourhood_group    neighbourhood  size
0               Bronx         Woodlawn    70
1            Brooklyn  Windsor Terrace  3920
2           Manhattan     West Village  2658
3              Queens         Woodside   900
4       Staten Island          Woodrow    48

* 아래의 과정을 통해 이해를 도울 수 있다.

In [16]:
temp = df.groupby(['neighbourhood_group', 'neighbourhood'],\
      as_index=False).size()
temp

    neighbourhood_group  neighbourhood  size
0                 Bronx       Allerton    42
1                 Bronx     Baychester     7
2                 Bronx        Belmont    24
3                 Bronx      Bronxdale    19
4                 Bronx    Castle Hill     9
..                  ...            ...   ...
216       Staten Island    Tottenville     7
217       Staten Island  West Brighton    18
218       Staten Island    Westerleigh     2
219       Staten Island    Willowbrook     1
220       Staten Island        Woodrow     1

[221 rows x 3 columns]

In [19]:
temp = temp.groupby(['neighbourhood_group'], as_index=False).max() 
temp

  neighbourhood_group    neighbourhood  size
0               Bronx         Woodlawn    70
1            Brooklyn  Windsor Terrace  3920
2           Manhattan     West Village  2658
3              Queens         Woodside   900
4       Staten Island          Woodrow    48