In [1]:
import pandas as pd

In [2]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(DataUrl,sep='\t')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

* 해당 데이터가 어떻게 되어있는지 확인하고 해당 sep 에따라 달라지는 점 알아보자

In [5]:
ㅇㄹ = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv')

In [6]:
ㅇㄹ.head()

  gameId\tcreationTime\tgameDuration\tseasonId\twinner\tfirstBlood\tfirstTower\tfirstInhibitor\tfirstBaron\tfirstDragon\tfirstRiftHerald\tt1_champ1id\tt1_champ1_sum1\tt1_champ1_sum2\tt1_champ2id\tt1_champ2_sum1\tt1_champ2_sum2\tt1_champ3id\tt1_champ3_sum1\tt1_champ3_sum2\tt1_champ4id\tt1_champ4_sum1\tt1_champ4_sum2\tt1_champ5id\tt1_champ5_sum1\tt1_champ5_sum2\tt1_towerKills\tt1_inhibitorKills\tt1_baronKills\tt1_dragonKills\tt1_riftHeraldKills\tt1_ban1\tt1_ban2\tt1_ban3\tt1_ban4\tt1_ban5\tt2_champ1id\tt2_champ1_sum1\tt2_champ1_sum2\tt2_champ2id\tt2_champ2_sum1\tt2_champ2_sum2\tt2_champ3id\tt2_champ3_sum1\tt2_champ3_sum2\tt2_champ4id\tt2_champ4_sum1\tt2_champ4_sum2\tt2_champ5id\tt2_champ5_sum1\tt2_champ5_sum2\tt2_towerKills\tt2_inhibitorKills\tt2_baronKills\tt2_dragonKills\tt2_riftHeraldKills\tt2_ban1\tt2_ban2\tt2_ban3\tt2_ban4\tt2_ban5
0  3326086514\t1504279457970\t1949\t9\t1\t2\t1\t1...
1  3229566029\t1497848803862\t1851\t9\t1\t1\t1\t1...
2  3327363504\t1504360103310\t1493\t9\t1\t2\t1\t1...
3  3326856598\t1504348503996\t1758\t9\t1\t1\t1\t1...
4  3330080762\t1504554410899\t2094\t9\t1\t2\t1\t1...

* 해당 데이터의 경우 \t로 분류 되었다 즉 탭으로 분류 되었기 때문에 하나의 column으로 인식하여 들어온다. 아래에서 직접 확인할 수 있다.

In [7]:
ㅇㄹ.columns

Index(['gameId\tcreationTime\tgameDuration\tseasonId\twinner\tfirstBlood\tfirstTower\tfirstInhibitor\tfirstBaron\tfirstDragon\tfirstRiftHerald\tt1_champ1id\tt1_champ1_sum1\tt1_champ1_sum2\tt1_champ2id\tt1_champ2_sum1\tt1_champ2_sum2\tt1_champ3id\tt1_champ3_sum1\tt1_champ3_sum2\tt1_champ4id\tt1_champ4_sum1\tt1_champ4_sum2\tt1_champ5id\tt1_champ5_sum1\tt1_champ5_sum2\tt1_towerKills\tt1_inhibitorKills\tt1_baronKills\tt1_dragonKills\tt1_riftHeraldKills\tt1_ban1\tt1_ban2\tt1_ban3\tt1_ban4\tt1_ban5\tt2_champ1id\tt2_champ1_sum1\tt2_champ1_sum2\tt2_champ2id\tt2_champ2_sum1\tt2_champ2_sum2\tt2_champ3id\tt2_champ3_sum1\tt2_champ3_sum2\tt2_champ4id\tt2_champ4_sum1\tt2_champ4_sum2\tt2_champ5id\tt2_champ5_sum1\tt2_champ5_sum2\tt2_towerKills\tt2_inhibitorKills\tt2_baronKills\tt2_dragonKills\tt2_riftHeraldKills\tt2_ban1\tt2_ban2\tt2_ban3\tt2_ban4\tt2_ban5'], dtype='object')

In [8]:
print(df.shape)
print(df.shape[0])
print(df.shape[1])
# print(len(df.rows))
print(len(df.columns))

(51490, 61)
51490
61
61

* column은 위와 같이 출력 할 수 있지만 row는 구분되는 영역이 아닌 일반 영역? 이기 때문에 따로 출력하지 않는다. (column은 라벨의 개념?)

In [9]:
df.columns[44]

't2_champ3_sum2'

* 추가로 columns는 보다시피 리스트 형태로 작성되어 접근 할 수 있다고 생각하면 된다.

In [10]:
df.columns[44].dtype

AttributeError: 'str' object has no attribute 'dtype'

In [12]:
df['gameId'].dtype

dtype('int64')

In [13]:
df.iloc[:,5].dtype

dtype('int64')

일반 접근 방법과 iloc 접근 방법의 차이를 알아보자

In [14]:
df.loc[11:15, 'gameId':'firstBlood']

        gameId   creationTime  gameDuration  seasonId  winner  firstBlood
11  3284613292  1501452879926          1671         9       1           1
12  3321570535  1503947039120          2071         9       1           1
13  3323144943  1504057872709          1942         9       1           2
14  3329332855  1504479222082          2374         9       2           2
15  3322311228  1503994240897          1717         9       1           2

In [15]:
df.iloc[11:15, 0:5]

        gameId   creationTime  gameDuration  seasonId  winner
11  3284613292  1501452879926          1671         9       1
12  3321570535  1503947039120          2071         9       1
13  3323144943  1504057872709          1942         9       1
14  3329332855  1504479222082          2374         9       2

In [16]:
df['firstBlood']

0        2
1        1
2        2
3        1
4        2
        ..
51485    1
51486    1
51487    2
51488    2
51489    1
Name: firstBlood, Length: 51490, dtype: int64

In [17]:
df.[11:15, 'gameId':'firstBlood']

SyntaxError: invalid syntax (2303252068.py, line 1)

* loc는 이름으로 찾을수 있으며 그냥 조회하는 것과는 다르게 row 까지 조회 할 수 있다.
* iloc 같은 경우 integer 즉, 숫자로 조회하는 방법

In [18]:
df.index

RangeIndex(start=0, stop=51490, step=1)

* index의 범위를 알 수 있다.

In [19]:
df.iloc[2,5]

2

* iloc로 조회할때는 항상 list처럼 작동한다는 것 생각하자
* 반대로 loc로 조회할때는 이에 해당하지 않는다.

* 데이터의 경우 인코딩이 다르게 들어 올 수 있다. 이에 따라 encoding 을 사용하여 바꾸어 준다.

In [20]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl, encoding='euc-kr')

In [21]:
df.head()

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.5
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.5
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.4
3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.4
4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.3

* 추가로 인코딩을 확인하고 적용시키는 방법은 다음 주소를 참고하여 공부해 보자
    * https://useful-jang.tistory.com/220

tail을 활용하여 데이터 끝부분을 출력 할 수 있다.

In [22]:
df.tail(4)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9617,32065,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

* 변수의 타입에 따라 출력해보자

* 데이터 프레임에 데이터 중 해당 형식에 따른 데이터를 뽑아 낼 수 있다.

In [23]:
df.select_dtypes(exclude=object).columns

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

In [24]:
df.select_dtypes(object).columns

Index(['일자', '시도명', '읍면동명'], dtype='object')

In [25]:
df.select_dtypes(include='object').columns

Index(['일자', '시도명', '읍면동명'], dtype='object')

In [26]:
df.select_dtypes(include='int64')

         id
0     22448
1     22449
2     22450
3     22451
4     22452
...     ...
9616  32064
9617  32065
9618  32066
9619  32067
9620  32068

[9621 rows x 1 columns]

In [27]:
df.select_dtypes(float)

,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...
9616,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

In [28]:
df.select_dtypes(float, int).columns

Index(['거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온', '일강수량',
       '평균 풍속'],
      dtype='object')

In [29]:
df.select_dtypes(include='float, int64')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[9621 rows x 0 columns]

In [30]:
df.select_dtypes(include='float','int64')

SyntaxError: positional argument follows keyword argument (1543824998.py, line 1)

In [31]:
df.select_dtypes(float, object).columns

Index(['거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온', '일강수량',
       '평균 풍속'],
      dtype='object')

* 왜 이런 결과가 나오는지는 나중에 알아보기

### 결측치 측정

* 결측치를 isnull을 통해 파악할 수 있다. 이때 isnull()을 사용하면 null이 아닌값은 False로 나오게 된다.

In [32]:
df.isnull().sum()

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

### 데이터 프레임 정보 한번에 확인하기

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

* info를 통해 col별 정보를, describe를 통해 변수의 분포를 알 수 있다.

In [34]:
df.describe()

,id,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

### 변수 값 출력

In [35]:
df['거주인구']

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

In [36]:
df.loc[0:,'거주인구']

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

In [37]:
df.loc['거주인구']

KeyError: '거주인구'

* loc의 경우 row를 지정하지 않으면 오류가 난다.

### 응용 데이터 출력

* 4분위 범위값 (IQR) 출력

In [38]:
iqr = df['평균 속도'].quantile(0.75) - df['평균 속도'].quantile(0.25)
print(iqr)

14.854999999999997

In [39]:
df.읍면동명.unique()

array(['도두동', '외도동', '이도2동', '일도1동', '대천동', '서홍동', '한경면', '송산동', '조천읍',
       '일도2동', '영천동', '예래동', '대륜동', '삼도1동', '이호동', '건입동', '중앙동', '삼양동',
       '삼도2동', '이도1동', '남원읍', '대정읍', '정방동', '효돈동', '아라동', '한림읍', '구좌읍',
       '용담1동', '오라동', '화북동', '연동', '표선면', '중문동', '성산읍', '안덕면', '천지동',
       '노형동', '동홍동', '용담2동', '봉개동', '애월읍'], dtype=object)

* unique 같은 경우만 별도의 지정없이 attribute 처럼 접근할 수 있나? 알아보기
* unique()를 통해 중복되지 않는 유일값을 모두 출력 할 수 있다.

In [43]:
df['읍면동명'].unique()

array(['도두동', '외도동', '이도2동', '일도1동', '대천동', '서홍동', '한경면', '송산동', '조천읍',
       '일도2동', '영천동', '예래동', '대륜동', '삼도1동', '이호동', '건입동', '중앙동', '삼양동',
       '삼도2동', '이도1동', '남원읍', '대정읍', '정방동', '효돈동', '아라동', '한림읍', '구좌읍',
       '용담1동', '오라동', '화북동', '연동', '표선면', '중문동', '성산읍', '안덕면', '천지동',
       '노형동', '동홍동', '용담2동', '봉개동', '애월읍'], dtype=object)

## Filtering & Sorting

In [45]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)
type(df)

pandas.core.frame.DataFrame

In [46]:
df[df['quantity']==3].head(5)

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [48]:
df.loc[df['quantity']==3].head()

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

### index 초기화하기
<br></br>
`reset_index()`를 통해서 index를 초기화 할 수 있다.

* 이때 drop조건을 걸어 기존의 index를 살리느냐 죽이느냐 결정 할 수 있다.

In [60]:
df.loc[df['quantity']==3].head().reset_index()

,index,order_id,quantity,item_name,choice_description,item_price
0,409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,689,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,818,338,3,Bottled Water,NaN,$3.27
4,850,350,3,Canned Soft Drink,[Sprite],$3.75

In [58]:
df.loc[df['quantity']==3].head().reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75