In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [3]:
df.columns

Index(['title', 'channelTitle', 'categoryId', 'view_count', 'likes',
       'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

Q) 인기동영상 제작 횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준,중복포함)

In [4]:
print(list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index), 'channelTitle'].unique()))

['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [5]:
print(list(df[df.dislikes > df.likes].channelTitle.unique()))

['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']

채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [6]:
changed = df[['channelId', 'channelTitle']].drop_duplicates().channelId.value_counts()

changed = changed[changed >1]

len(changed)

71

일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [7]:
df.columns

Index(['title', 'channelTitle', 'categoryId', 'view_count', 'likes',
       'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

In [8]:
df['trending_date2'] = pd.to_datetime(df.trending_date2)

In [9]:
df.trending_date2.dt.day_name()

0         Friday
1         Friday
2         Friday
3         Friday
4         Friday
          ...
60394    Tuesday
60395    Tuesday
60396    Tuesday
60397    Tuesday
60398    Tuesday
Name: trending_date2, Length: 60399, dtype: object

In [10]:
print(df.loc[df.trending_date2.dt.day_name() == 'Sunday', 'categoryId'].value_counts().index[0])

24

각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [11]:
df[['categoryId', 'trending_date2']].groupby('categoryId').value_counts().to_frame()

                            0
categoryId trending_date2
1          2021-02-24      14
           2021-06-13      14
           2021-06-14      14
           2021-05-31      14
           2021-06-12      13
...                        ..
29         2021-01-07       1
           2021-01-05       1
           2021-01-04       1
           2021-01-03       1
           2021-10-08       1

[3881 rows x 1 columns]

댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [27]:
my_df = df[~(df.view_count == 0)]
my_df['reaction_ratio'] = my_df.comment_count / my_df.view_count
my_df.reaction_ratio

print(my_df.loc[my_df.reaction_ratio.sort_values(ascending = False).index[0],].title)

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

C:\Users\yeonggyun.kim\AppData\Local\Temp\ipykernel_39224\148688705.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['reaction_ratio'] = my_df.comment_count / my_df.view_count

댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [36]:
my_df[~(my_df.reaction_ratio == 0)].sort_values(by='reaction_ratio',ascending = True).title

46005    Join the BTS #PermissiontoDance Challenge only...
46210    Join the BTS #PermissiontoDance Challenge only...
51798                   Butter (feat. Megan Thee Stallion)
51579                   Butter (feat. Megan Thee Stallion)
51353                   Butter (feat. Megan Thee Stallion)
                               ...
51494                 60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)
52786                 60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)
51264                 60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)
51047                 60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)
50830                 60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)
Name: title, Length: 59609, dtype: object

like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [68]:
ratio = (df.likes / df.likes).dropna().sort_values()

df.iloc[ratio[ratio!=0].sort_values().index[0]]

title                            [신병] 물자창고
channelTitle                           장삐쭈
categoryId                              23
view_count                         1893473
likes                                38249
dislikes                               730
comment_count                         8595
channelId         UChbE5OZQ6dRHECsX0tEPEZQ
trending_date2         2021-01-01 00:00:00
Name: 0, dtype: object

In [97]:
temp = df[(df.likes !=0) & (df.dislikes!=0)]

ind = (temp.likes/ temp.dislikes).sort_values(ascending=False).index[0]

ans = df.iloc[ind]
print(ans)

title             [줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가...
channelTitle                                      CosmopolitanKorea
categoryId                                                       26
view_count                                                   122354
likes                                                         19104
dislikes                                                         10
comment_count                                                   851
channelId                                  UCVWr5QkOkYupX6fEELMNvuQ
trending_date2                                  2021-02-27 00:00:00
Name: 11477, dtype: object

답을 낼때는 원래 데이터 프레임으로 내야 한다.

가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [109]:
df.groupby(['title', 'trending_date2']).value_counts().to_frame()

                                                                                                                                                             0
title                                              trending_date2 channelTitle categoryId view_count likes  dislikes comment_count channelId
#1. [슈퍼리그] 챔스 종결? 드디어 창설된 슈퍼리그, 형태와 방식은?           2021-04-20     이스타TV        17         410982     7024   143      2901          UCn9mJ4htO64-1osMWYu9k5Q  1
                                                   2021-04-21     이스타TV        17         438659     7132   163      3061          UCn9mJ4htO64-1osMWYu9k5Q  1
                                                   2021-04-22     이스타TV        17         445622     7142   168      3067          UCn9mJ4htO64-1osMWYu9k5Q  1
                                                   2021-04-23     이스타TV        17         447467     7149   169      3064          UCn9mJ4htO64-1osMWYu9k5Q  1
                                                   2021-04-24     이스타TV        17         448458     7157   169      3080          UCn9mJ4htO64-1osMWYu9k5Q  1
...                                                                                                                                                         ..
🩸괴담회에 어서오세요🩸: 첫 번째 이야기 | WELCOME TO NCT’S HORRO... 2021-08-28     NCT          10         2807716    444897 1382     22544         UCwgtORdDtUKhpjE1VBv6XfA  1
                                                   2021-08-29     NCT          10         2853725    448509 1412     22618         UCwgtORdDtUKhpjE1VBv6XfA  1
                                                   2021-08-30     NCT          10         2883483    450691 1410     22700         UCwgtORdDtUKhpjE1VBv6XfA  1
                                                   2021-08-31     NCT          10         2906631    452644 1414     22728         UCwgtORdDtUKhpjE1VBv6XfA  1
                                                   2021-09-01     NCT          10         2925418    454141 1416     22753         UCwgtORdDtUKhpjE1VBv6XfA  1

[60252 rows x 1 columns]

20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [ ]:
d